body {
    background: #f2f2f2;
    font-size: 62.5%;
    padding: 10px;
}
.page {
    font-family: "Balthazar", "Droid Serif", serif;
    color: #565656;
    font-size: 1.8em;
    line-height: 1.4em;
    margin: 3% auto;
    text-shadow: 1px 1px 10px #CCC;
}
.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;;
    background: #fff;
}
.left-side {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
}
.title-name {
    font-size: 24px;
    margin-left: 30px;
}
.left-side p {
    font-size:14px;
}
.left-side h2 {
    font-size: 16px;
}
.left-side, .right-side {
    padding: 20px;
}
.title {
    text-transform: uppercase;
    font-size: 124%;
    background-color: #CCC;
    padding: 10px 0px 10px 10px;
    border-radius: 0px 50px 50px 0px;
    width: 80%;
    margin: 10px 0 10px -19px;
    color: #fff;
    text-shadow: 2px 2px 8px #000;  
}
.right-side {
    grid-column: 2/3;
    grid-row: 1/3;
    background: #3d3e42;
    font-size: 14px;
    text-shadow: none;
    color: #9099a0;
    
}
.title-right-side {
    text-transform: uppercase;
    font-size: 100%;
    text-align: center;
    background-color: #CCC;
    border-radius: 50px;
    margin: auto;
    color: #fff;
    text-shadow: 2px 2px 8px #000;  
}
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.year-info {
    display: block;
    text-align: start;
    font-weight: 600;
}